@import url('https://fonts.googleapis.com/css?family=Khula');

body {
  font-family: 'Khula', sans-serif;
  margin: 0;
  padding: 0;
}

header, section, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 5em;
  flex: 1;
}

header {
  background-color: #08665D;
  background-image: url("../img/emerald-header.svg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FFF;
}

h1, h2, p {
  width: 100%;
  max-width: 50rem;
}

h1 {
  font-size: 6em;
  margin: 0.1em 0;
}

h2 {
  margin: 0.1em 0;
}

header p {
  font-size: 1.2em;
}

section.split {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

section.split > section {
  padding: 0;
  max-width: 24rem;
  margin-right: 2rem;
}

section.split > section:last-child {
  margin-right: 0;
}

.code {
  font-family: monospace;
}

pre {
  box-sizing: border-box;
  width: 100%;
  color: #FFF;
  background-color: #333;
  padding: 1em;
  border-radius: 0.4em;
  margin-bottom: 1em;
  overflow-x: auto;
}

a.button {
  background-color: #08665D;
  color: #FFF;
  transition: all ease 0.3s;
  display: inline-block;
  padding: 0.7em;
  border-radius: 0.3em;
  text-decoration: none;
  padding-bottom:0.5em;
}

a.button:hover {
  background-color: #2AB573;
}

@media all and (max-width: 860px) {
  section.split {
    flex-direction: column;
    /*align-items: stretch;*/
    /*justify-content: center;*/
  }

  section.split > section {
    max-width: inherit;
    margin-right: 0;
    margin-bottom: 2em;
  }

  section.split > section:last-child {
    margin-bottom: 0;
  }

  header, section, footer {
    padding: 1em 2.5em;
  }
}

@media all and (max-width: 550px) {
  body {
    font-size: 0.9em;
  }

  h1 {
    font-size: 4em;
  }
}
